asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
Django==3.0.2
django-bootstrap4==2.2.0
django-oauth-toolkit==1.5.0
django-tenants==3.3.1
djangorestframework==3.12.4
freezegun==1.1.0
idna==2.10
jwcrypto==0.8
markdown2==2.3.10
oauthlib==3.1.0
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.1
requests==2.25.1
six==1.16.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.26.4
