{% extends 'diary/base.html' %}
{% block content %}
<article>
  <h2>記事の追加</h2>
  <div class="mt-3">
    <form action="{% url 'diary:post-add' %}" method="POST">
      <div class="row">
        {% csrf_token %}
        {% for field in form.visible_fields %}
          <div class="form-group col-12">
            {{ field.errors }}
            {{ field.label }}
            {{ field }}
            {{ field.help_text }}
          </div>
        {% endfor %}
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="投稿" />
      </div>
    </form>
  </div>
</article>
{% endblock %}