<html>
  <head>
    <title>とあるエンジニアの日記帳</title>
  </head>
  <body>
    {% load static %}
    <h1>とあるエンジニアの日記帳</h1>
    <form method="GET" class="post-form">{% csrf_token %}
      {{ search_form.as_p }}
      <button type="submit" class="save btn btn-default">検索</button>
    </form>
    {% for post in posts %}
      <div>
        <h2>{{ post.title }}</h2>
        <div>投稿 : {{ post.user }}</div>
        <div>{{ post.body |safe }}</div>
        <div>{{ post.updated_at }}</div>
        <div>カテゴリー : 
        {% for category in post.categories.all %}
          <span>{{ category }},</span>
        {% endfor %}
        </div>
        {% if post.edit_url %}
          <a href="{{ post.edit_url }}">編集</a>
        {% endif %}
      </div>
    {% empty %}
      <p>No Diaries.</p>
    {% endfor %}
    <nav>
      <ul>
        {% comment %} 前へ {% endcomment %}
        {% if page_obj.has_previous %}
          <li><a href="{{ pagenate_root_url }}&page={{ page_obj.previous_page_number }}">前へ</a></li>
        {% endif %}

        {% comment %} 間のページ {% endcomment %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li>{{ i }}</li>
          {% else %}
            <li><a href="{{ pagenate_root_url }}&page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% comment %} 次へ {% endcomment %}
        {% if page_obj.has_next %}
          <li><a href="{{ pagenate_root_url }}&page={{ page_obj.next_page_number }}">次へ</a></li>
        {% endif %}
      </ul>
    </nav>
  </body>
</html>