<html>
  <head>
    <title>とあるエンジニアの日記帳</title>
    {% load static %}
    <script src="{% static 'js/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1>とあるエンジニアの日記帳</h1>
    {% csrf_token %}
    {% load lookup %}
    {% for post in posts %}
      <div>
        <h2>{{ post.title }}</h2>
        <div>投稿 : {{ post.user }}</div>
        <div>{{ post.body |safe }}</div>
        <div>{{ post.updated_at }}</div>
        <div>カテゴリー : 
        {% for category in post.categories.all %}
          <span>{{ category }},</span>
        {% endfor %}
        </div>
        {% if user.is_authenticated %}
          <a href="#" class="star star--post-id-{{ post.id }}">
            {% if post.id in starred_post_ids.keys %}
              いいね済
            {% else %}
              いいねする
            {% endif %}
          </a>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
              const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
              {% if starred_post_ids|lookup:post.id %}
              new starButton(csrftoken, {{ post.id }}, {{ user.id }}, {{ starred_post_ids|lookup:post.id }}).init();
              {% else %}
              new starButton(csrftoken, {{ post.id }}, {{ user.id }}).init();
              {% endif %}
            });
          </script>
        {% endif %}
      </div>
    {% empty %}
      <p>No Diaries.</p>
    {% endfor %}
  </body>
</html>